<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Sinh Viên</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Danh sách Sinh Viên</h1>
    <a href="/students/showFormForAdd" class="btn btn-primary mb-3">Thêm Sinh Viên</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Mã Sinh Viên</th>
            <th>Tên</th>
            <th>Địa Chỉ</th>
            <th>Hành Động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.studentId}"></td>
            <td th:text="${student.studentCode}"></td>
            <td th:text="${student.fullName}"></td>
            <td th:text="${student.address}"></td>
            <td>
                <a href="/students/showFormForUpdate?studentId=[[${student.studentId}]]" class="btn btn-warning">Sửa</a>
                <form action="/students/delete" method="post" style="display:inline;">
                    <input type="hidden" name="studentId" th:value="${student.studentId}" />
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
